* {
    margin: 0px 0px 0px 0px;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* HEADER */


.container {
    max-width: 1700px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    /* background: #dbdad6 */
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/backgrounds/to-header2.png);
    z-index: 2;
}

.header-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

/* .logo {
    width: 64px;
} */


.header-back {
    width: 100%;
    height: 80px;
    background: #dbdad6;
}




.header-logo {
    flex: 0 0 60px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.header-logo img {
    max-width: 100%;
    display: block;
}


.content {
    padding-top: 100px;
}

.content-text {
    font-size: 18px;
    line-height: 25px;
}

.content-text p {
    margin-bottom: 20px;
}

.header-burger {
    display: none;
}

.header-list {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header-list li {
    list-style: none;
    margin-left: 20px;
}

.cart {
    width: 50px;
    margin-top: 5px;
    margin-left: 90px;
}

.header-link {
    color: #202020;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    font-size: 21px;
}

@media (max-width: 767px) {
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header-burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;

    }

    .header-burger:before {
        top: 0;
    }

    .header-burger:after {
        bottom: 0;
    }

    .header-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #dbdad6;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .header-menu.active {
        top: 0;
        transition: all 0.3s ease 0s;
    }

    .header-body {
        height: 50px;
    }

    .header-logo {
        flex: 0 0 35px;
    }

    .header-list {
        display: block;
    }

    .header-list li {
        margin: 0px 0px 20px 0px;
    }

    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header-burger.active span {
        transform: scale(0);
    }

    .content {
        padding: 70px 0px 0px 0px;
    }

    body.lock {
        overflow: hidden;
    }

    .header-link {
        font-size: 25px;
        color: #202020;
    }

    .cart {
        margin: 0;
    }
}


/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */


.main {
    margin: 0;
    background: #dbdad6;
    height: 5000px;
}

.main-logo-brand {
    width: 300px;
    height: 300px;
    background-image: url(/img/brands/nike.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 50px;
}

.main-brand-body {
    display: flex;
}

.main-brand-text {
    margin-top: 60px;
    margin-left: 40px;
}

.main-brand-name-p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #202020;

}

.main-brand-since-p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #202020;
}


.main-brand-country-p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #202020;
}

/* models */
/* models */
/* models */
/* models */

.main-models {
    width: 100%;
    height: 400px;
    max-width: 1920px;
    /* background: skyblue; */
    /* display: block; */
    /* margin-bottom: 40px; */

}

.main-models-p {
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.main-models-body {
    width: 100%;
    height: 300px;
    /* background: lightblue; */
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 50px; */
}

.main-models-body-box1,
.main-models-body-box2,
.main-models-body-box3,
.main-models-body-box4 {
    margin-top: 30px;
    width: 300px;
    height: 300px;
    border: 1px solid #202020;
    border-radius: 10px;
    background: #ffffff;
}

.main-models-body-box1-img {
    background-image: url(/img/products/icon/airforce.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    transition-duration: 300ms;
    z-index: 2;
}

.main-models-body-box2-img {
    background-image: url(/img/products/icon/airmax.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    transition-duration: 300ms;
    z-index: 2;
}

.main-models-body-box3-img {
    background-image: url(/img/products/icon/blazer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    transition-duration: 300ms;
    z-index: 2;
}

.main-models-body-box4-img {
    background-image: url(/img/products/icon/dunk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    transition-duration: 300ms;
    z-index: 2;
}

.main-models-body-box-p {
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}

.main-models-body-a {
    text-decoration: none;
    color: #202020;
}

.main-models-body-box1-img:hover {
    background-image: url(/img/products/icon/airforce-swop.jpg);
    transition-duration: 300ms;
}

.main-models-body-box2-img:hover {
    background-image: url(/img/products/icon/airmax-swop.jpg);
}

.main-models-body-box3-img:hover {
    background-image: url(/img/products/icon/blazer-swop.jpg)
}

.main-models-body-box4-img:hover {
    background-image: url(/img/products/icon/dunk-swop.jpg);
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.main-pr {
    display: flex;
    justify-content: center;
}

.main-pr-body {
    display: flex;
    white-space: normal;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1920px;
    /* min-width: 1000px; */
}

.main-pr-p {
    margin: 40px 0px 0px 0px;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.main-pr-p::after {
    content: '⬇';
    margin-left: 8px;
}

.main-pr-slide {
    width: 300px;
    height: 420px;
    border: 1px solid white;
    background: #ffffff;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 27px;
    transition-duration: 250ms;
}






.pr-name,
.pr-price {
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    color: #202020;
    display: flex;
    justify-content: center;
}

.pr-describtion {
    font-size: 15px;
    font-family: 'Fredoka', sans-serif;
    display: flex;
    color: black;
    justify-content: center;
    display: none;
    transform: scale(1);
    transition-duration: 1000ms;

}

.main-pr-slide-a {
    margin-top: 20px;
    text-decoration: none;
    height: 400px;
    width: 302px;
    margin: 50px;
}

.main-pr-slide:hover .pr-describtion {
    /* animation for describ */
    display: flex;
    transition-duration: 1000ms;
}

/* product images */
/* product images */
/* product images */


#pr100 {
    background-image: url(/img/products/100/a.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr101 {
    background-image: url(/img/products/101/a.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr102 {
    background-image: url(/img/products/102/a.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr103 {
    background-image: url(/img/products/103/a.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr104 {
    background-image: url(/img/products/104/a.jpg);
    background-position: 0px -60px;
    background-size: 98%;
}

#pr105 {
    background-image: url(/img/products/105/a.jpg);
    background-position: center;
    background-size: 98%;
}

#pr106 {
    background-image: url(/img/products/106/a.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr107 {
    background-image: url(/img/products/107/a.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr108 {
    background-image: url(/img/products/108/a.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr109 {
    background-image: url(/img/products/109/a.jpg);
    background-position: 0px -60px;
    background-size: contain;
}


/* product images */
/* product images */
/* product images */

/*  */

/* CHANGE product images */
/* CHANGE product images */
/* CHANGE product images */


#pr100:hover {
    background-image: url(/img/products/100/b.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr101:hover {
    background-image: url(/img/products/101/b.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr102:hover {
    background-image: url(/img/products/102/b.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr103:hover {
    background-image: url(/img/products/103/b.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr104:hover {
    background-image: url(/img/products/104/b.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr105:hover {
    background-image: url(/img/products/105/b.jpg);
    background-position: center;
    background-size: 98%;
}

#pr106:hover {
    background-image: url(/img/products/106/b.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr107:hover {
    background-image: url(/img/products/107/b.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr108:hover {
    background-image: url(/img/products/108/b.jpg);
    background-position: 0px -60px;
    background-size: contain;
}

#pr109:hover {
    background-image: url(/img/products/109/b.jpg);
    background-position: 0px -60px;
    background-size: contain;
}


/* CHANGE product images */
/* CHANGE product images */
/* CHANGE product images */