* {
    margin: 0px 0px 0px 0px;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* HEADER */


.container {
    max-width: 1700px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #beab9e;
    z-index: 2;
}

.header-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

/* .logo {
    width: 64px;
} */





.header-logo {
    flex: 0 0 60px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.header-logo img {
    max-width: 100%;
    display: block;
}


.content {
    padding-top: 100px;
}

.content-text {
    font-size: 18px;
    line-height: 25px;
}

.content-text p {
    margin-bottom: 20px;
}

.header-burger {
    display: none;
}

.header-list {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header-list li {
    list-style: none;
    margin-left: 20px;
}

.cart {
    width: 50px;
    margin-top: 5px;
    margin-left: 90px;
}

.header-link {
    color: #202020;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    font-size: 21px;
}

@media (max-width: 767px) {
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header-burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;

    }

    .header-burger:before {
        top: 0;
    }

    .header-burger:after {
        bottom: 0;
    }

    .header-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #dbdad6;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .header-menu.active {
        top: 0;
        transition: all 0.3s ease 0s;
    }

    .header-body {
        height: 50px;
    }

    .header-logo {
        flex: 0 0 35px;
    }

    .header-list {
        display: block;
    }

    .header-list li {
        margin: 0px 0px 20px 0px;
    }

    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header-burger.active span {
        transform: scale(0);
    }

    .content {
        padding: 70px 0px 0px 0px;
    }

    body.lock {
        overflow: hidden;
    }

    .header-link {
        font-size: 25px;
        color: #202020;
    }

    .cart {
        margin: 0;
    }
}


main {
    margin-top: 80px;
}

/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */




.main-baner {
    width: 100%;
    height: 600px;
    background-image: url(/img/backgrounds/main-baner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-trends {
    background-color: #beab9e;
    height: 500px;
    width: 100%;
}

.main-trands-p {
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #202020;
    font-weight: 600;
}

.main-category {
    width: 100%;
    height: 600px;
    background: #beab9e;
}

.main-category-p {
    font-family: 'Fredoka', sans-serif;
    font-size: 40px;
    color: #202020;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main-category-boxes {
    display: flex;
    justify-content: space-around;

}

.category-woman {
    width: 350px;
    height: 450px;
    border: 1px solid white;
    background: white;
    border-radius: 10px;
}

.category-man {
    width: 350px;
    height: 450px;
    border: 1px solid white;
    background: white;
    border-radius: 10px;
}

.category-all {
    width: 350px;
    height: 450px;
    border: 1px solid white;
    background: white;
    border-radius: 10px;
}

.category-woman-img {
    height: 400px;
    width: 100%;
    background-image: url(/img/arts/woman.jpg);
    background-size: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.category-man-img {
    height: 400px;
    width: 100%;
    background-image: url(/img/arts/man.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.category-all-img {
    height: 400px;
    width: 100%;
    background-image: url(/img/arts/all.jpg);
    background-size: 220%;
    background-position: bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-repeat: no-repeat;
}

.category-name {
    font-family: 'Fredoka', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

/* trending SLIDER*/
/* trending SLIDER*/
/* trending SLIDER*/
/* trending SLIDER*/
.main {
    height: 3000px;
    width: 100%;
    background-color: #dbdad6;
}


.main-trending {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-trending-text {
    font-size: 40px;
    font-family: 'Fredoka', sans-serif;
    color: #202020;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 50px;
}

.main-trending-slider {
    background: #dbdad6;
    height: 445px;
    width: 95%;
}

.main-trending-slide1,
.main-trending-slide2,
.main-trending-slide3,
.main-trending-slide4,
.main-trending-slide5,
.main-trending-slide6,
.main-trending-slide7,
.main-trending-slide8,
.main-trending-slide9,
.main-trending-slide10 {
    width: 300px;
    height: 420px;
    border: 1px solid white;
    background: #ffffff;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 27px;
    transition-duration: 250ms;
}

.main-trending-slide1 {
    background-image: url(/img/products/1/b.jpg);
}

.main-trending-slide2 {
    background-image: url(/img/products/2/b.jpg);
}

.main-trending-slide3 {
    background-image: url(/img/products/3/b.jpg);
}

.main-trending-slide4 {
    background-image: url(/img/products/4/b.jpg);
}

.main-trending-slide5 {
    background-image: url(/img/products/5/b.jpg);
}

.main-trending-slide6 {
    background-image: url(/img/products/6/b.jpg);
}

.main-trending-slide7 {
    background-image: url(/img/products/7/b.jpg);
}

.main-trending-slide8 {
    background-image: url(/img/products/8/b.jpg);
}

.main-trending-slide9 {
    background-image: url(/img/products/9/b.jpg);
}

.main-trending-slide10 {
    background-image: url(/img/products/10/b.jpg);
}


/**/


/**/

.main-trending-slide1:hover {
    background-image: url(/img/products/1/a.jpg);
    margin-top: -15px;
}

.main-trending-slide2:hover {
    background-image: url(/img/products/2/a.jpg);
    margin-top: -15px;
}

.main-trending-slide3:hover {
    background-image: url(/img/products/3/a.jpg);
    margin-top: -15px;
}

.main-trending-slide4:hover {
    background-image: url(/img/products/4/a.jpg);
    margin-top: -15px;
}

.main-trending-slide5:hover {
    background-image: url(/img/products/5/a.jpg);
    margin-top: -15px;
}

.main-trending-slide6:hover {
    background-image: url(/img/products/6/a.jpg);
    margin-top: -15px;
}

.main-trending-slide7:hover {
    background-image: url(/img/products/7/a.jpg);
    margin-top: -15px;
}

.main-trending-slide8:hover {
    background-image: url(/img/products/8/a.jpg);
    margin-top: -15px;
}

.main-trending-slide9:hover {
    background-image: url(/img/products/9/a.jpg);
    margin-top: -15px;
}

.main-trending-slide10:hover {
    background-image: url(/img/products/10/a.jpg);
    margin-top: -15px;
}


/**/


/**/

.trending-name,
.trending-price {
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    color: #202020;
    display: flex;
    justify-content: center;
}

.trending-describtion {
    font-size: 15px;
    font-family: 'Fredoka', sans-serif;
    display: flex;
    color: black;
    justify-content: center;
    display: none;
}


.main-trending-slide1:hover .trending-describtion,
.main-trending-slide2:hover .trending-describtion,
.main-trending-slide3:hover .trending-describtion,
.main-trending-slide4:hover .trending-describtion,
.main-trending-slide5:hover .trending-describtion,
.main-trending-slide6:hover .trending-describtion,
.main-trending-slide7:hover .trending-describtion,
.main-trending-slide8:hover .trending-describtion,
.main-trending-slide9:hover .trending-describtion,
.main-trending-slide10:hover .trending-describtion {
    /* animation for describ */
    display: flex;
}

.main-trending-slide-a {
    margin-top: 20px;
    text-decoration: none;
    height: 400px;
    width: 302px;
}

/* trending SLIDER*/
/* trending SLIDER*/
/* trending SLIDER*/
/* trending SLIDER*/

.main-mini-baner {
    width: 100%;
    height: 200px;
    background-image: url(/img/backgrounds/mini-baner.jpg);
}


/*  */

.main-baner1 {
    width: 100%;
    height: 25px;
    background-image: url(/img/backgrounds/mini-baner1.jpg);
    background-size: 100%;
    margin-top: 125px;
}


.main-brands {
    width: 100%;
    height: 860px;
    background-color: #beab9e;
}

.main-brands-p {
    padding-top: 40px;
    font-size: 40px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    color: #202020;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.main-brands-body,
.main-brands-body2 {
    display: flex;
    justify-content: space-around;
}

.main-brands-body2 {
    margin-top: 30px;
}

.main-brands-body-box1,
.main-brands-body-box2,
.main-brands-body-box3,
.main-brands-body-box4,
.main-brands-body-box5,
.main-brands-body-box6,
.main-brands-body-box7,
.main-brands-body-box8 {
    width: 250px;
    height: 250px;
}

.main-brands-body-box1 {
    background-image: url(/img/brands/nike.png);
    background-size: 99%;
    background-position: center;
    background-repeat: no-repeat;
}

.main-brands-body-box2 {
    background-image: url(/img/brands/bape.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-brands-body-box3 {
    background-image: url(/img/brands/jordan.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-brands-body-box4 {
    background-image: url(/img/brands/adidas.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.main-brands-body-box5 {
    background-image: url(/img/brands/converse.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-brands-body-box6 {
    background-image: url(/img/brands/vans.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-brands-body-box7 {
    background-image: url(/img/brands/lacoste.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-brands-body-box8 {
    background-image: url(/img/brands/off-white.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}